@import 'base';
@import 'navigation';
* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $primary-color;
    color: #fff;
    height: 100%;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

// Headings
h1,
h4 {
    margin: 0;
    font-weight: 400;
    &.lg-heading {
        font-size: 3.5rem;
    }
    &.description {
        margin-bottom: 2rem;
        padding-left: 0;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        padding-right: 1rem;
        width: 60%;
        background: rgba(lighten($primary-color, 2), 0.5);
    }
}

.lg-heading,
.description,
.icons {
    margin-left: 2rem;
}

a {
    color: #fff;
    text-decoration: none;
}

button {
    background: #7FFF00;
    border: 2px #7FFF00 solid;
    font-size: 1.2rem;
    font-weight: bold;
    width: 9rem;
    height: 3rem;
    margin-top: 3rem;
    margin-left: 2rem;
}

button:hover {
    @include easeOut;
}

header {
    position: fixed;
    height: 86px;
    width: 100%;
}

#header-inner {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

#logo {
    margin-top: 50px;
    float: left;
    font-size: 1.5rem;
    font-style: italic;
}

main {
    padding: 2rem;
    height: 100%;
    .icons {
        a {
            padding: 0.4rem;
            &:hover {
                color: $secondary-color;
                @include easeOut;
            }
        }
    }
    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}

@media screen and (max-width: 768px) {
    h1,
    h4 {
        &.lg-heading {
            font-size: 1.4rem;
            width: 50%;
        }
        &.description {
            width: 50%;
        }
    }
    button {
        font-size: 1rem;
        width: 7rem;
        height: 2rem;
    }
}